dash==2.0.0
gunicorn
pandas
numpy
dash_auth
dash_daq
plotly
dash_extensions
openpyxl
xlsxwriter
dash_bootstrap_components
PyGithub
PyYAML
scipy
sklearn
Werkzeug==2.0.3
kaleido
matplotlib
